@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Public Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.main-layout {
    min-height: 100vh;
    background: #f1f1f1;
      display: flex;
  flex-direction: column;
}

.top-header {
    background: #fff;
    padding: 16px 20px;
}
.main-body {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 220px;
  background: #1f2937;
  color: white;
  padding: 20px;
}


.main-content {
  flex: 1;
  padding: 20px;
  background: #f3f4f6;
}
.document-status {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}
